<app-data-search class="full-page" 
[tableColumns]="tableColumns" 
[tableData]="tableData"
addButtonTitle="Add New Product"
(addButtonClicked)="openProductFormModal()"
(tableRowClicked)="openProductFormModal()"
></app-data-search>
<ng-template #productFormTemplate>
    <form class="mat-white-bg  p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" [formGroup]="productForm">
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="50">
                <input matInput formControlName="name" placeholder="Type Name Here" />
            </mat-form-field>
            <mat-form-field fxFlex="50">
                <input matInput formControlName="model" placeholder="Type Model Here" />
            </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="50">
                <input matInput formControlName="type" placeholder="Type type Here" />
            </mat-form-field>
            <mat-form-field fxFlex="50">
                <input matInput formControlName="quantityAvailable" type="number" placeholder="Type Quantity Here" />
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="50">
                <mat-select formControlName="price.currency" placeholder="Currency">
                    <mat-option value="USD">USD</mat-option>
                    <mat-option value="BDT">BDT</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="50">
                <input matInput formControlName="price.amount" type="number" placeholder="Type Price Here" />
            </mat-form-field>
            
        </div>

    </form>
</ng-template>