<!-- BOARDS -->
<div id="boards" class="mat-primary-400-bg" fxLayout="column" fxLayoutAlign="start center" fxFlex fusePerfectScrollbar>

    <div class="header pt-44 pt-mat-88" fxFlex="0 0 auto" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms'}}">
        <h1>Select a page to connect</h1>
    </div>

    <!-- BOARD LIST -->
    <div class="board-list" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap *fuseIfOnDom [@animateStagger]="{value:'50'}" >

        <!-- BOARD -->
        <div class="board-list-item" *ngFor="let page of pageList" (click)="connectToPage(page);"  fxLayout="column" fxLayoutAlign="center center"
             [@animate]="{value:'*',params:{y:'100%'}}">
            <!-- <mat-icon class="s-64">assessment</mat-icon> -->
            <img src="{{page.picture.data.url}}" >
            <div class="board-name">{{page.name}}</div>
        </div>
        <!-- / BOARD -->

        <!-- NEW BOARD BUTTON -->
        <div class="board-list-item add-new-board" fxLayout="column" fxLayoutAlign="center center"
             (click)="newBoard()"
             [@animate]="{value:'*',params:{y:'100%'}}">
            <!-- <mat-icon class="s-64">add_circle</mat-icon> -->

            <div class="board-name">Create New Page</div>
        </div>
        <!-- / NEW BOARD BUTTON -->

    </div>
    <!-- / BOARD LIST -->
</div>
<!-- / BOARDS -->
