<ngx-datatable
[columnMode]="columnMode"
[count]="count"
[externalPaging]="externalPaging"
[externalSorting]="externalSorting"
[footerHeight]="footerHeight"
[cssClasses]="cssClasses" 
[messages]="messages"
[loadingIndicator]="false"
[columns]="columnHeaders" 
[rows]="data" 
class="material" 
(activate)="activated($event)" 
(sort)="sorted($event)"
(detailToggle)="detailToggled($event)"
(page)="paged($event)"
(reorder)="reordered($event)"
(resize)="resized($event)"
(tableContextmenu)="tableContextmenud($event)"
(scroll)="scrolled($event)"
(select)="selected($event)">
	
</ngx-datatable>
